<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Concept</title>
</head>
<body>
    <h1>Проект - Фитнес Управление</h1>
    <h3>Сайтом могут пользоваться все, кто следит за своим здоровьем, фигурой и правиьным образом жизни. У них могут быть проблемы с лишним весом, недостатоком веса, здоровьем сердца, позвоночника. При этом этот сайт может помочь людям скорректировать свой вес, улучшить работу сердца, улучшить осанку и добиться тела своей мечты.</h3>
    <h3>Этот сайт поможет людям найти подходящие группы для занятия, а также получить бесплатную консультацию по выбору нужной программы(первая пробная тренировка бесплатная)</h3>
    <h3>На главной странице будет название центра, девиз и вход в личный кабинет.
        Нужно войти в свой логин, а если нет аккаунта, надо зарегистрироваться.
        После логина или регистрации, открывается страница, где будет написана информация о самом центре.
        Третья страница будет информация о нашей команде с фотографиями тренеров и администраторов.
        На четвертой странице будут указаны программы тренировок: тренажерный зал, отдельно для мужчин, для женщин и общие.
        В тренажерном зале будет информация о нем: стоимость занятий с тренером и занятий без тренера.
        А в остальных будут указаны разные типы групповых тренировок и их стоимость.
        На пятой странице будет консультация, где нужно заполнить персональную анкету для выбора нужной программы.
        На шестой странице будут контактные данные</h3>
    <a href="https://www.howtobeast.com">CloseDesign1</a>
    <a href="https://starksfitness.co.uk">CloseDesign2</a>
    <a href="https://www.workhousemalton.co.uk">CloseDesign3</a>
</body>
</html>